<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>
    <!-- 服务器地址集群 -->
    <add key="IPLis" value="47.100.164.82:9092,47.100.164.82:9093,47.100.164.82:9094" />
    <!--  话题 -->
    <add key="TopicLis" value="918"/>
    <!-- 数据库配置 -->
    <add key="SqlserverPath" value="Data Source = 192.168.8.8,1433\SQLEXPRESS; Initial Catalog = Kafka_Test; User Id = sa; "/>
    <add key="SQLServerUrl" value="  Server=.\SQLEXPRESS;Database=Kafka_Test;Trusted_Connection=Yes;Connect Timeout=90"/>
    <add key="password" value="Jpe4TXU7/45SO6ii/+x6KQ=="/>
    <add key="path" value="ZNJTYS_SQLSERVER"/>
    <!-- 内联控制器名称 -->
    <add key="FixedName" value="ControlCenter" />
    <!-- 智能家庭医生地址 -->
    <add key="ZNJTYS_Path" value="http://211.149.235.215/znjtys-api-sync/api/user/findAllUserInfoById"/>
    <!--<add key="" value=""/>-->
  </appSettings>
</configuration>